version: '3'
services:
  webappsite:
   image: nginx:latest
   container_name: website
   volumes:
     - /Devlopment/DOCKER/website/html:/user/share/nginx/html
   ports:
   - 80:80
   restart: always








FROM nginx:1.23-alpine
WORKDIR /site
COPY site ./static
COPY ./nginx/my.conf /etc/nginx/conf.d/mysite.conf
RUN rm /etc/nginx/conf.d/default.conf
EXPOSE 80
ENTRYPOINT ["nginx", "-g", "daemon off;"]